<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pure Admin</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "admin", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,700,700italic,400italic,300italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="wrap">
    <header id="main-header">
      <h1 class="pure-menu-heading">
        <%= link_to 'Admin Panel', admin_root_path %>
      </h1>

      <nav id="account-menu" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <%= link_to root_path, class: 'pure-menu-link' do %>
              <span class="fa fa-external-link"></span>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>

    <nav id="main-menu" class="pure-menu pure-menu-horizontal pure-menu-fixed">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <%= link_to admin_root_path, class: 'pure-menu-link' do %>
            <span class="fa fa-home"></span> Dashboard
          <% end %>
        </li>
      </ul>
    </nav>

    <div id="breadcrumbs">
      <%= render_crumbs separator: raw(' <span class="fa fa-angle-right"></span> '), truncate: 16, link_last_crumb: false %>
    </div>

    <div id="back-to-top">
      <span class="fa fa-chevron-up"></span> <span class="middle">Back to top</span> <span class="fa fa-chevron-up"></span>
    </div>

    <div id="flashes" class="fixed">
      <% flash.each do |type, message| %>
      <div class="flash <%= type %>" onclick="Admin.remove_flash(this);"><%= message %></div>
      <% end %>
    </div>

    <section id="main">
      <%= yield %>
    </section>

    <footer id="main-footer">
      &copy; <%= Time.now.year %> Grant Colegate. All rights reserved. <span style="float: right;" class="hidden-sm">This site is built with &lt;3 using Pure 0.6.0</span>
    </footer>
  </div>
</body>

<%= javascript_include_tag 'pure_admin' %>
<!--[if lt IE 9]>
  <%= javascript_include_tag 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %>
<![endif]-->
</html>
